<div id="landing-image">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12" id="landing-title">
                <h1 id="landing-title">EthStarter</h1>
                <h3>A fully descentralized platform to empower your dreams</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="landing-buttons">
                <a href="#projects">EXPLORE CAMPAIGNS</a>
                <a href="#submit">START YOUR OWN CAMPAIGN</a>
            </div>
        </div>
    </div>
</div>
<!-- About -->
<div class="full-screen-separation">
    <h2>ABOUT ETHSTARTER</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>What is EthStater?</h4>
            <p>
                Ethstater is a fully descentralized web application that allows users to get their projects funded
                by using the power of <a href="https://www.ethereum.org/">Ethereum</a> and <a href="https://ipfs.io/"> IPFS</a>
            </p>
        </div>

        <div class="col-md-6">
            <h4>Smart Contracts</h4>
            <p> The core logic of Ethstater is written in a set of Etthereum Smart Contracts, is completely open source and
                can be found in our  <a href="https://github.com/4nc3str4l/Ethstarter/tree/master/contracts"> Github</a>.
            </p>
            <p>
                We decided to do be completely open because we want to be 100% transparent with what our system is doing and
                allow the comunity to help us to keep improving.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../res/ethereum-logo.png" alt="Ethereum logo" style="width: 40%">
        </div>
        
        <div class="col-md-6">
            <h4>Fully Descentralized </h4>
            <p> 
                TODO
            </p>
        </div>
        
        <div class="col-md-6">
            <img src="../res/ipfs-logo.png" alt="Ethereum logo" style="width: 20%">
        </div>
    </div>
</div>

<!-- How it works -->
<div class="full-screen-separation">
    <h2>HOW IT WORKS</h2>
</div>
<div class="container">
    <div class="row how-point">
        <div class="col-md-6">
            <div class="how-explanation">
                <h4>1. Explain Your Awesome Idea</h4>
                <p>Explain what it is, how it will work, what do you need, how much ehter it will cost...</p>
        
            </div>
        </div>
        <div class="col-md-6">
            <img src="../res/project-def.jpg" alt="project definition" style="width: 100%">
        </div>
    </div>
    <div class="row how-point">
        <div class="col-md-6">
            <img src="../res/deadline.jpg" alt="project definition" style="width: 100%">
        </div>
        <div class="col-md-6">
            <div class="how-explanation">
                <h4>2. Define a Campaign Deadline</h4>
                <p> Every campaing must have a limit of time to reach its goal, be aware that if the
                    goal is not reached before the end date all the ehter will be refunded to the bakers </p>
            </div>
        </div>
    </div>
    <div class="row how-point">
        <div class="col-md-6">
            <div class="how-explanation">
                <h4>3. Go Live!</h4>
                <p> Publish your campaign into the blockchain and your campaign will be ready!</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../res/publish.jpg" alt="project definition" style="width: 100%">
        </div>
    </div>
    <div class="row how-point">
        <div class="col-md-6">
            <img src="../res/networking.jpg" alt="project definition" style="width: 100%">
        </div>
        <div class="col-md-6">
            <div class="how-explanation">
                <h4>4. Marketing and Networking</h4>
                <p>Use all your marketing power to tell everyone that you are doing a campaingn.</p>
            </div>
        </div>
    </div>
    <div class="row how-point">

        <div class="col-md-6">
            <div class="how-explanation">
                <h4>5. Get your Ether</h4>
                <p> If the goal is reached, you will be able to collect your ether</p>
            </div>
        </div>

        <div class="col-md-6">
            <img src="../res/ether.jpg" alt="project definition" style="width: 100%">
        </div>
    </div>
</div>
