<div id="landing-image">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12" id="landing-title">
                <h1 id="landing-title">EthStarter</h1>
                <h3>A fully descentralized platform to empower your dreams</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="landing-buttons">
                <a href="">EXPLORE CAMPAIGNS</a>
                <a href="">START YOUR OWN CAMPAIGN</a>
            </div>
        </div>
    </div>
</div>
<div class="full-screen-separation">
    <h2>ABOUT ETHSTARTER</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Motivation</h4>
            <p>
                Explain here why this project has been created.
            </p>
        </div>
    </div>
</div>
