<div id="landing-image">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="landing-title">
                <h1 id="landing-title">EthStarter</h1>
                <h3>A fully descentralized platform to empower your dreams</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="landing-buttons">
                <a href="">EXPLORE CAMPAIGNS</a>
                <a href="">START YOUR OWN CAMPAIGN</a>
            </div>
        </div>
    </div>
</div>