<!-- Page Title-->
<div class="title-image">
    <h2>Campaigns</h2>
 </div>

<div class="full-screen-separation">
    <h2>Explore our community campaigns</h2>
</div>

<!-- Projects Grid-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Search..." id="search-projects" ng-model="projectsFilter">
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-3 repeat-animation" ng-repeat="project in projects | filter:projectsFilter | orderBy:'+order' track by $index" ng-click="projectDetails(project.id)">
            <div class="project-preview">
                <div class="image-preview" style="background-image: url('{{project.image}}')"></div>
                <h4>{{project.title}}</h4>
                
                <p class="preview-description">{{ project.description | limitTo: 100}}</p>
                
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{project.progress()}}%;" aria-valuenow="25%" aria-valuemin="0" aria-valuemax="100">{{project.progress()}}%</div>
                </div>
                <span class="preview-goal">{{project.goal}} <img src="../res/ethereum-logo.png" height="20"></span>
                <span class="preview-end">End Date: {{project.endDate | date}}</span>
            </div>
        </div>
    </div>
</div>