<!-- Page Title-->
<div class="title-image">
    <h2>New Campaign</h2>
 </div>

<div class="full-screen-separation">
    <h2>Start your new campaign</h2>
</div>

<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="project-creation">
                    <form id="contribute-form">
                        
                        <div id="metamask-required" ng-hide="usingMetamask">
                            <img src="../res/metamask.svg" alt="metamaskImage">
                            <p>To submit a campaign, please unlock or install <a href="https://metamask.io/" class="metamask-name" target="_blank"> Metamask</a> and refresh the page.</p>
                        </div>

                        <label for="title">Project's Title</label>
                        <input type="text" placeholder="Project's Title" name="title" ng-model="title">
                        
                        <img src="{{image}}" alt="Project's Image">
                        
                        <input type="file" name="image" fileread="image" id="image-file" accept="image/x-png,image/gif,image/jpeg" novalidate>

                        <label for="title">Website</label>
                        <input type="text" placeholder="Project's Wesite" name="website" ng-model="website">
                        
                        <label for="title">Campaign end date</label>
                        <input type="date" name="deadline" ng-model="endDate">
                        
                        <label for="title">Campaign's Goal</label>
                        <input type="number" min="0" id="goal-ammount" name="goal" value="1" step="0.0001" ng-model="contributionAmmount"> <span id="currency">ETH</span>
                        
                        <label for="title">Project Descritpion</label>
                        <textarea name="project-description" name="Describe your project" ng-model="description"></textarea>

                        <input type="submit" id="publish-project" ng-click="submit()" value="Start {{title}}'s Campaign">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <loading-directive ng-show="loading"></loading-directive>