
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="project-creation">
                    <h1>Create Campaign </h1>
                    <form id="contribute-form">
                        
                        <label for="title">Project's Title</label>
                        <input type="text" placeholder="Project's Title" name="title" ng-model="title">
                        
                        <label for="title">Website</label>
                        <input type="text" placeholder="Project's Wesite" name="website">
                        
                        <label for="title">Campaign end date</label>
                        <input type="date" name="deadline">
                        
                        <label for="title">Campaign's Goal</label>
                        <input type="number" min="0" id="goal-ammount" name="goal" value="1" step="0.0001" ng-model="contributionAmmount"> <span id="currency">ETH</span>
                        
                        <label for="title">Project Descritpion</label>
                        <textarea name="project-description" name="Describe your project"></textarea>

                        <input type="submit" id="publish-project" value="Start {{title}}'s Campaign">
                    </form>
                </div>
            </div>
        </div>
    </div>